.widgetAdmin{
   display: flex;
   width: 20px;
   margin-right:50px;
   justify-content: space-between;
   flex: 1;
   padding: 30px;
   box-shadow: 10px 10px 5px 4px rgba(0,0,0,0.13);
   -webkit-box-shadow: 10px 10px 5px 4px rgba(0,0,0,0.13);
   -moz-box-shadow: 10px 10px 5px 4px rgba(0,0,0,0.13);
  
   border-radius: 10px;
   height: 150px;
  
   .left, .right{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       .title{
           font-weight:bold;
           font-size: 14px;
           color: rgb(160,160,160);
       }
        .counter{
           font-size: 28px;
           font-weight: 3*0;
        }
        .link{
           width: max-content;
           font-size: 12px;
           border-bottom: 1px solid gray;
        }
        .percentage{
           display: flex;
           align-items: center;
           font-size: 14px;


        }
        .icon {
           font-size: 18px;
           padding: 5px;
           background-color:rgb(248, 104, 241);
           border-radius: 5px;
           align-self: flex-end;
        }
   }
  
}